@import "@/src/_global.scss";

.Size_M{
    height: 40px;
    gap: var(--gap-xs, 8px);
    padding: var(--gap-xs, 8px) var(--gap-s, 12px) var(--gap-xs, 8px) var(--gap-s, 12px);
    font-size: var(--typography-size-m, 14px);
    .Badge{
        height: 20px;
        font-size: var(--typography-size-xs, 12px);
    }
    .Icon{
        --size-icon: var(--icon-xl, 20);
    }
}

.Size_XS{
    height: 36px;
    gap: var(--gap-xs, 8px);
    padding: var(--gap-xs, 8px) var(--gap-s, 12px) var(--gap-xs, 8px) var(--gap-s, 12px);
    font-size: var(--typography-size-m, 14px);
    .Badge{
        height: 20px;
        font-size: var(--typography-size-xs, 12px);
    }
    .Icon{
        --size-icon: var(--icon-xl, 20);
    }
}

.Size_S{
    height: 34px;
    gap: var(--gap-xxs, 4px);
    padding: var(--gap-xxs, 8px) var(--gap-xxs, 8px) var(--gap-xxs, 8px) var(--gap-xxs, 8px);
    font-size: var(--typography-size-s, 13px);
    .Badge{
        height: 16px;
        font-size: var(--typography-size-xxs, 12px);
    }
    .Icon{
        --size-icon: var(--icon-xl, 16);
    }
}
