:root {
    //Neutral
    --Neutral-Grey-50: #fafafa;
    --Neutral-Grey-100: #f5f5f5;
    --Neutral-Grey-200: #e5e5e5;
    --Neutral-Grey-300: #d4d4d4;
    --Neutral-Grey-400: #a3a3a3;
    --Neutral-Grey-500: #737373;
    --Neutral-Grey-600: #525252;
    --Neutral-Grey-700: #404040;
    --Neutral-Grey-800: #262626;
    --Neutral-Grey-900: #171717;
    --Neutral-Grey-950: #0a0a0a;
    --Neutral-White-5: #ffffff0d;
    --Neutral-White-10: #ffffff1a;
    --Neutral-White-20: #ffffff33;
    --Neutral-White-30: #ffffff4d;
    --Neutral-White-40: #ffffff66;
    --Neutral-White-50: #ffffff80;
    --Neutral-White-60: #ffffff99;
    --Neutral-White-70: #ffffffb3;
    --Neutral-White-80: #ffffffcc;
    --Neutral-White-90: #ffffffe6;
    --Neutral-White-100: #ffffff;
    --Neutral-Black-5: #0000000d;
    --Neutral-Black-10: #0000001a;
    --Neutral-Black-20: #00000033;
    --Neutral-Black-30: #0000004d;
    --Neutral-Black-40: #00000066;
    --Neutral-Black-50: #00000080;
    --Neutral-Black-60: #00000099;
    --Neutral-Black-70: #000000b3;
    --Neutral-Black-80: #000000cc;
    --Neutral-Black-90: #000000e6;
    --Neutral-Black-100: #000000;
    //Brand
    --Brand-Fairway-50: #F1F9F1;   
    --Brand-Fairway-100: #DBF0DB;   
    --Brand-Fairway-200: #B9E1B8;   
    --Brand-Fairway-300: #8ECD8C;   
    --Brand-Fairway-400: #5DB86B;   
    --Brand-Fairway-500: #2F9F42;   
    --Brand-Fairway-600: #007031;   
    --Brand-Fairway-700: #005a27;   
    --Brand-Fairway-800: #00441d;   
    --Brand-Fairway-900: #002e14;   
    --Brand-Fairway-950: #001f0c; 
    --Brand-Hazard-50: #fff5f4;
    --Brand-Hazard-100: #ffe4e0;   
    --Brand-Hazard-200: #ffc3bc;   
    --Brand-Hazard-300: #ff9a90;   
    --Brand-Hazard-400: #f96c5d;   
    --Brand-Hazard-500: #e9422e;   
    --Brand-Hazard-600: #ca220e;   
    --Brand-Hazard-700: #a1180b;   
    --Brand-Hazard-800: #791009;   
    --Brand-Hazard-900: #510a06;   
    --Brand-Hazard-950: #370604;   
    --Brand-Clubhouse-50: #f9f5fa;
    --Brand-Clubhouse-100: #f2e6f6;
    --Brand-Clubhouse-200: #e3cbea;
    --Brand-Clubhouse-300: #d0a8db;
    --Brand-Clubhouse-400: #b881c8;
    --Brand-Clubhouse-500: #9957b1;
    --Brand-Clubhouse-600: #7a367f;
    --Brand-Clubhouse-700: #602964;
    --Brand-Clubhouse-800: #471c49;
    --Brand-Clubhouse-900: #311132;
    --Brand-Clubhouse-950: #1f0a1f;
    --Brand-Bunker-50: #f5efe5;
    --Brand-Bunker-100: #ede2cf;
    --Brand-Bunker-200: #e3d3b5;
    --Brand-Bunker-300: #d9c39b;
    --Brand-Bunker-400: #ceb17e;
    --Brand-Bunker-500: #c4a264;
    --Brand-Bunker-600: #bc954e;
    --Brand-Bunker-700: #a37f3e;
    --Brand-Bunker-800: #816531;
    --Brand-Bunker-900: #5c4823;
    --Brand-Bunker-950: #372b15;
    //Semantic
    --Semantic-Red-50: #fef3f2;
    --Semantic-Red-100: #fee4e2;
    --Semantic-Red-200: #fecdca;
    --Semantic-Red-300: #fda29b;
    --Semantic-Red-400: #f97066;
    --Semantic-Red-500: #f04438;
    --Semantic-Red-600: #d92d20;
    --Semantic-Red-700: #b42318;
    --Semantic-Red-800: #912018;
    --Semantic-Red-900: #7a271a;
    --Semantic-Red-950: #55160c;
    --Semantic-Orange-50: #fffaeb;
    --Semantic-Orange-100: #fef0c7;
    --Semantic-Orange-200: #fedf89;
    --Semantic-Orange-300: #fec84b;
    --Semantic-Orange-400: #fdb022;
    --Semantic-Orange-500: #f79009;
    --Semantic-Orange-600: #dc6803;
    --Semantic-Orange-700: #b54708;
    --Semantic-Orange-800: #93370d;
    --Semantic-Orange-900: #7a2e0e;
    --Semantic-Orange-950: #4e1d09;
    --Semantic-Green-50: #ecfdf3;
    --Semantic-Green-100: #dcfae6;
    --Semantic-Green-200: #abefc6;
    --Semantic-Green-300: #75e0a7;
    --Semantic-Green-400: #47cd89;
    --Semantic-Green-500: #17b26a;
    --Semantic-Green-600: #079455;
    --Semantic-Green-700: #067647;
    --Semantic-Green-800: #085d3a;
    --Semantic-Green-900: #074d31;
    --Semantic-Green-950: #053321;
    --Semantic-Blue-50: #eff8ff;
    --Semantic-Blue-100: #d1e9ff;
    --Semantic-Blue-200: #b2ddff;
    --Semantic-Blue-300: #84caff;
    --Semantic-Blue-400: #53b1fd;
    --Semantic-Blue-500: #2e90fa;
    --Semantic-Blue-600: #1570ef;
    --Semantic-Blue-700: #175cd3;
    --Semantic-Blue-800: #1849a9;
    --Semantic-Blue-900: #194185;
    --Semantic-Blue-950: #102c60;
    --Semantic-Cyan-50: #ecfdff;
    --Semantic-Cyan-100: #cff9fe;
    --Semantic-Cyan-200: #a5f0fb;
    --Semantic-Cyan-300: #67e3f9;
    --Semantic-Cyan-400: #22ccee;
    --Semantic-Cyan-500: #06aed4;
    --Semantic-Cyan-600: #088ab3;
    --Semantic-Cyan-700: #0e7090;
    --Semantic-Cyan-800: #155b76;
    --Semantic-Cyan-900: #164c63;
    --Semantic-Cyan-950: #0b3445;
    --Semantic-Indigo-50: #eef4ff;
    --Semantic-Indigo-100: #e0eaff;
    --Semantic-Indigo-200: #c7d7fe;
    --Semantic-Indigo-300: #a4bcfd;
    --Semantic-Indigo-400: #8098f9;
    --Semantic-Indigo-500: #6172f3;
    --Semantic-Indigo-600: #444ce7;
    --Semantic-Indigo-700: #3538cd;
    --Semantic-Indigo-800: #2d31a6;
    --Semantic-Indigo-900: #2d3282;
    --Semantic-Indigo-950: #1f235b;
    --Semantic-Pink-50: #fdf2fa;
    --Semantic-Pink-100: #fce7f6;
    --Semantic-Pink-200: #fcceee;
    --Semantic-Pink-300: #faa7df;
    --Semantic-Pink-400: #f670c7;
    --Semantic-Pink-500: #ee46bc;
    --Semantic-Pink-600: #dd2590;
    --Semantic-Pink-700: #c11574;
    --Semantic-Pink-800: #9e165f;
    --Semantic-Pink-900: #851651;
    --Semantic-Pink-950: #4c0d2f;
    --Semantic-Rose-50: #fff1f3;
    --Semantic-Rose-100: #ffe4e8;
    --Semantic-Rose-200: #fecdd6;
    --Semantic-Rose-300: #fea3b4;
    --Semantic-Rose-400: #fd6f8e;
    --Semantic-Rose-500: #f63d68;
    --Semantic-Rose-600: #e31b54;
    --Semantic-Rose-700: #c01048;
    --Semantic-Rose-800: #a11043;
    --Semantic-Rose-900: #89123e;
    --Semantic-Rose-950: #510b24;
    --Semantic-Yellow-50: #fefbe8;
    --Semantic-Yellow-100: #fef7c3;
    --Semantic-Yellow-200: #feee95;
    --Semantic-Yellow-300: #fde272;
    --Semantic-Yellow-400: #fac515;
    --Semantic-Yellow-500: #eaaa08;
    --Semantic-Yellow-600: #ca8504;
    --Semantic-Yellow-700: #a15c07;
    --Semantic-Yellow-800: #854a0e;
    --Semantic-Yellow-900: #713b12;
    --Semantic-Yellow-950: #4d2009;
}
